<table datatable class="tableMain">
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Tipo de contrato </th>
            <th> Rol </th>
            <th> Salario por hora </th>
            <th> Salario por mes </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleadosSinSalario">
            <td>{{ empleado.name }}</td>
            <td>{{ empleado.contractTypeName }}</td>
            <td>{{ empleado.roleName }}</td>
            <td>{{ empleado.hourlySalary }}</td>
            <td>{{ empleado.monthlySalary }}</td>
        </tr>
    </tbody>
</table>